@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   border: none;
   outline: none;
}
:root{
   --color-primary:#ff7b02;
   --color-primary-variant:#e5a55d;
   --color-bg-1:#000e17;
   --color-bg-2:#000e2d;
   --color-bg-3:#012734;
   --color-bg-4:#003347;
   --color-light:#85a2b2;
   --color-white:hsl(0,0%,90%);
   
   /* purple primary theme */
   /* --color-primary:#ff7b02;
   --color-primary-variant:#e5a55d;
   --color-bg-1:#140021;
   --color-bg-2:#1e0032;
   --color-bg-3:#25003e;
   --color-bg-4:#36005a;
   --color-light:#d0b8e0;
   --color-white:hsl(0,0%,90%); */

   --container-width-lg:88%;
   --container-width-md:92%;

   --transition:all 400ms ease;
}
html{
   scroll-behavior: smooth;
   overflow: hidden;
}
body{
   font-family: 'Montserrat', sans-serif;
   background: var(--color-bg-3) url("../Assets/bg-texture.png");
   color: var(--color-light);
   line-height: 1.7;
}
::-webkit-scrollbar{
   width: 0.5rem;
   background-color: rgb(229,165,930,0.2);
}
::-webkit-scrollbar-thumb{
   width: 100%;
   border-radius: .25rem;
   background-color: var(--color-primary-variant);
}
h1,h2{
   font-weight: 400;
   line-height: 1.1;
}
h1{
   font-size: 4rem;
   color: var(--color-white);
}
h2{
   font-size: 3.5rem;
}
a{
   color: var(--color-light);
   transition: var(--transition);
}
a:hover{
   color: var(--color-primary);
}
/* nav section container start  */
.container{
   margin: 0 auto;
   width: var(--container-width-lg);
   max-width: 2160px;
}
img{
   display: block;
   width: 100%;
   object-fit: cover;
}

nav {
   width: 100vw;
   height: 5rem;
   display: grid;
   place-items: center;
   position: fixed;
   top:0;
   left: 0;
   z-index: 999;
}
/* nav class on changing with javascript */
.window-scrolled{
   background-color: var(--color-bg-2);
   border-bottom: 0.2rem solid var(--color-bg-3);
   box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);  
}
.nav_container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
}
.nav_toggle-btn{
   display: none;
}
.nav_logo{
   width: 7.5rem;
}
.nav_links{
   display: flex;
   gap:4rem;
}
.nav_socials{
   display: flex;
   gap: 1.1rem;
}
.nav_socials a{
   width: 2rem;
   height: 2rem;
   display: grid;
   place-items: center;
   background:linear-gradient(var(--color-primary-variant), var(--color-primary));
   border-radius: .5rem;
   color:var(--color-bg-4);
}
.nav_socials a:hover{
 box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);  
}
/* nav section container end *
/* 
header section start  */
header{
   max-width: 100vw;
   height: 110vh;
   position: relative;
   top: 0;
   background: linear-gradient(var(--color-bg-3),var(--color-bg-1));
   overflow: hidden;
}
.header_container{
   display: grid;
   grid-template-columns: 41% 51%;
   gap: 10%;
   margin-top: 10rem;
   position: relative;
}
.header_image-bg{
   background-color: var(--color-bg-4);
   height: 22rem;
   width: 16rem;
   position: absolute;
}
.header_image-lg{
   width: 29rem;
   position: relative;
   top: 1rem;
   left: 1rem;
   filter: saturate(0)brightness(0.3);
}
.header_image-sm{
   width: 28rem;
   height: 28rem;
   overflow: hidden;
   position: absolute;
   left: 6rem;
   top: 6rem;
}
.header_left:hover .header_image-sm{
   opacity: 0;
}
.header_left:hover .header_image-lg{
   filter:saturate(1)brightness(1);
   border: 1rem solid var(--color-bg-4);
   top: 0;
   left: 0;
}
.header_head{
   display: flex;
   gap: 2rem;
}
.empty{
   width: 18rem;
   height: 3.5rem;
   background-color: var(--color-bg-2);
   margin-bottom: 3.5rem;
   border-radius: calc(3.5rem/2);
   box-shadow: inset 0 1rem 1rem rgba(0, 0, 0,0.3);
   border: 1px solid var(--color-bg-4);
}
.header_tag{
   color: var(--color-primary-variant);
}
.header_right p{
   margin-top: 2rem;
   width: 85%;
}

/* only shows and tables and phones */
.header_btn-md{
   display: none;
}
.header_frames{
   position: absolute;
   top: 88vh;
   right: 44rem;
   transition: var(--transition);
   margin-top: 5rem;

}
.header_frame{
   width: 14rem;
   border:  0.4rem solid var(--color-bg-3);
   box-shadow: 0  0 4rem  rgba(0, 0, 0, 0.5);
   position: absolute;
   transform: rotate(-10deg);
   transition: var(--transition);
   transform-origin: bottom left;
}
.header_frame:nth-child(2){
   transform: rotate(20deg);
   top: -2rem;
   left: 2rem;
}
.header_frames:hover .header_frame{
   transform: rotate(0);
}
.header_frames:hover .header_frame:nth-child(2){
   top: 0;
   left: 15rem;
}
/* 
general styles for contact btn  */
.contact_btn{
   color: var(--color-bg-1);
   width: 10rem;
   height: 10rem;
   border-radius: 50%;
   display: grid;
   place-items: center;
   cursor: pointer;
   transition: var(--transition);
}
.email_btn{
   transform: translateY(8rem);
}
.header_btn{
   position: absolute;
   right: 6%;
   bottom: -3%; 
   background: linear-gradient(-30deg,var(--color-primary-variant),var(--color-primary),var(--color-primary-variant));
}
.header_btn:hover{
   transform: translateY(-1rem);
   color: var(--color-bg-1);
   box-shadow: rgba(0, 0, 0, 0.3);
}
.contact_btn i {
   font-size: 3.5rem;
   position: absolute;
}
.contact_btn p{
   font-size: 1rem;
   width: 10rem;
   font-weight: 600;
   height: 10rem;
   display: flex;
   justify-content: center;
   animation: spinText 30s linear infinite;
}
.contact_btn p span{
   position: absolute;
   transform-origin: 0.3rem 5rem;
   text-transform: uppercase;
}
@keyframes spinText {
   to{
      transform: rotate(360deg);
   } 
}
/* header section end  */

/* section container start  */
/* about section start  */
#about{
   margin-top: 18rem;
}
.about_container{
   display: grid;
   grid-template-columns: 10rem 26rem auto;
   gap: 3rem;
   position: relative;
}
.about_title{
   position: absolute;
   top: -7rem;
   z-index: 1;
}
.about_btn{
   color: var(--color-primary-variant);
   align-self: end;
}
.about_btn:hover{
   transform: translateY(-1rem);
}
.about_image{
    position: relative;
}
.about_image-bg{
   width: 16rem;
   height: 24rem;
   position: absolute;
   bottom: 0;
   background-color: var(--color-bg-4);
}
.about_image-lg{
     position: relative;
     left: 1rem;
     bottom: 1rem;
     filter: saturate(0)brightness(0.3);
     transition: 500ms;
}
.about_image-sm{
   position: absolute;
   top: 3rem;
   left: 8rem;
   height: 22rem;
   width: 22rem;
   overflow: hidden;
   box-shadow: 2rem 2rem 2rem rgba(0, 0, 0,0.3);
}
.about_image:hover .about_image-sm{
   opacity: 0;
}
.about_image:hover .about_image-lg{
   filter: saturate(1)brightness(1);
   box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.2);
   border: 1rem solid var(--color-bg-4); 
   left: 0;
   bottom: 0;
}
.about_right{
   margin-left: 5rem;
}
.about_right p{
   margin: 0 4rem 1.5rem 3rem;
}
/* about section end  */
#gallery{
   margin-top: 12rem;
}
.gallery_head{
   display: flex;
   justify-content: space-between;
}
.gallery_container p{
   width: 45rem;
}
.swiper-wrapper{
   margin-top: 5rem;
   height: 37rem;
   padding-bottom: 5rem;
}
.swiper-slide{
   max-height: 36rem;
   height: fit-content;
   overflow: hidden;
   transition: var(--transition);
   border: 0.5rem solid var(--color-bg-4);
}
.swiper-slide:hover{
   box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.4);
}
.swiper-slide img {
   filter: saturate(0);
}
.swiper-slide:hover img{
   filter: saturate(1);
}
.swiper-pagination-bullet{
   background-color: var(--color-primary-variant);
}
/* gallery section end  */

/* gallery exhibitions start  */
#exhibitions{
   margin-top: 10rem;
}
.exhibitions_container{
   position: relative;
}
.exhibitions_empty {
   width: 26rem;
   position: absolute;
   right: 14rem;
   top:0;
}
.exhibitions_head{
   display: grid;
   grid-template-columns: auto 10rem;
   justify-content: space-between;
   align-items: center;
}
.exhibitions_head > p{
   width: 45rem;
}
.exhibitions_btn{
   color: var(--color-primary-variant);
}
.exhibitions_btn:hover{
   transform: translateY(-1rem);
}
.exhibitions_gallery{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin-top: 5rem;
   gap:3rem;
}
.exhibitions_gallery article{
   transition: var(--transition);
   border: 0.5rem solid var(--color-bg-4);
}
.exhibitions_gallery article:nth-child(1){
   grid-row: 1/3;
  }
.exhibitions_gallery article:nth-child(4){
 grid-column: 2/4;
 grid-row: 2/3;
}
.exhibitions_gallery article img{
 height: 100%;
 filter: saturate(0);
 transition: var(--transition);
}
.exhibitions_gallery article:hover img{
   filter: saturate(1);
}
.exhibitions_gallery article:hover{
   box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}
/* gallery exhibitions end  */
/* 
footer section start  */
footer{
    margin-top: 7rem;
}
.footer_container{
   padding-top: 5rem;
   border-top: 0.5rem solid var(--color-bg-4);
}
.footer_head{
   display: flex;
   align-items: center;
   gap:2rem;
}
.footer_btn{
   width: 5rem;
   height: 5rem;
   border: 0.2rem solid var(--color-primary-variant);
   border-radius: 50%;
   font-size: 3rem;
   color: var(--color-primary-variant);
   display: flex;
   justify-content: center;
   align-items: center;
   transition: var(--transition);
}
.footer_btn:hover{
   transform: translateY(-1rem);
   border-color: var(--color-primary);
}
.footer_links{
   margin: 3rem 0 5rem;
   display: flex;
   align-items: center;
   gap:5rem;
}
/* footer section end   */

/* MEDIA QUERIES boss device */
@media screen and (max-width:1024px) {
   .container{
      width: var(--container-width-md);
      position: relative;
   }
   h1{
      font-size: 2.5rem;
      line-height: 1.3;
   }
   h2{
      font-size: 2.5rem;
   }
   /* nav section  start */
   .nav_socials{
      display: none;
   }
   .nav_links{
      position: absolute;
      top: 100%;
      right: 0;
      flex-direction: column;
      gap:0;
      display: none;
   }
   .nav_links li{
      height: 5rem;
      box-shadow: 3rem 3rem 3rem rgba(0, 0, 0, 0.7);
      opacity: 0;
      transform-origin: top;
      transform: rotateX(90deg);
      animation: navAnimation 600ms ease forwards;
   }
   @keyframes navAnimation {
      to{
         transform: rotateX(0);
         opacity: 1;
      }
      
   }
   .nav_links li a{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     padding: 1rem 5rem 1rem 3rem;
     background-color: var(--color-bg-4);
     border-top: 1px solid var(--color-bg-2);
   }
   .nav_toggle-btn{
      display: inline-block;
      font-size: 2rem;
      background-color: transparent;
      cursor: pointer;
      color: #fff;
   }
   #nav_toggle-close{
      display: none;
   }
   /* nav section  end */

   /* header section start  */
  header{
   height: fit-content;
   padding: 12rem 0 10rem;
   display: grid;
   place-items: center;
  }
  .header_image-bg, .header_image-sm{
   display: none;
  }
  .header_container{
   grid-template-columns: 40% 54%;
   gap: 6rem;
   margin: 0;
  }
  .header_image-lg{
   filter: saturate(1)brightness(1);
   width: 100%;
   top:0;
   left: 0;
   border: 1rem solid var(--color-bg-2);
   border-radius: 15rem 15rem 0 0;
   overflow: hidden;
  }
  .empty{
   display: none;
  }
  .header_right p{
   width: 100%;
   margin-top: 1.5rem;
  }
  .header_frames,.contact_btn{
   display: none;
  }
  .header_btn-md{
    background: linear-gradient(135deg,var(--color-primary-variant),var(--color-primary));
    color: var(--color-bg-1);
    margin-top: 2rem;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    font-weight: 600;
    border-radius: 0.4rem;
   }
   .header_btn-md:hover{
      color: var(--color-bg-1);
   }
      /* header section end  */

   /* About section start  */
  .about_container{
    grid-template-columns: 40% 54%;
    gap: 6%;
  }
  .about_image-bg, .about_image-sm{
   display: none;
  }
  .about_image-lg{
   top: 0;
   left: 0;
   filter: saturate(1)brightness(1);
  }
  .about_image:hover .about_image-lg{
   border: none;
  }
  .about_right{
    margin: 0;
  }
  .about_right p{
   margin-bottom: 1rem;
  }
  
   /* About section end */
/* 
   gallery section start  */

   #gallery{
      margin-top: 8rem;
   }
   .gallery_container p{
      width: 100%;
      margin-top: 2rem;
   }
   .swiper-wrapper{
      margin-top: 4rem;
      height: fit-content;
   }
   /* gallery section end  */

   /* exhibition section start  */

   .exhibitions_head > p{
      width: 100%;
      margin-top: 2rem;
   }
   .exhibitions_gallery{
      margin-top: 3rem;
      gap: 1rem;
   }
   .exhibitions_gallery article{
      border: none;
   }
/* 
   exhibition section end */
}
/* MEDIA QUERIES small device */
@media  screen and (max-width:600px) {
   h1,h2{
      font-size: 2rem;
      line-height: 1.3;
      color: #fff;
   }
   /* header section start  */
   header{
      padding: 0;
      padding-bottom: 6rem;
   }
   .header_container{
      grid-template-columns: 1fr;
      gap: 1rem;
      text-align: center;
   }
   .header_image-lg{
      width: 80%;
      height: 20rem;
      margin: 0 auto;
      margin-top: 7rem;
      overflow: hidden;

   }
   .header_head{
      justify-content: center;
   }
   .header_right p{
      margin-top: 1rem;
   }
   .header_title{
      margin-top: 1rem;
   }
   /* header section end  */

   /* about section start  */
   .about_container{
      grid-template-columns: 1fr;
      gap: 2rem;
   }
   .about_right p{
      width: 100%;
   }
   .swiper-slide{
      border: 0;
   }
   /* about section end */

   /* gallery section start  */
   #gallery{
      margin-top: 6rem;
   }
   .gallery_container p{
      margin-top: 1rem;
   }
   .swiper-wrapper{
      margin-top: 3rem;
   }
   /* gallery section end  */

   /* exhibtion section start  */
   .exhibitions{
      margin-top: 6rem;
   }
   .exhibitions_head{
      grid-template-columns: 1fr;
   }
   .exhibitions_head > p{
      margin-top: 1rem;
   }
   .exhibitions_gallery{
      display: block;
   }
   .exhibitions_gallery article{
      width: 100%;
      height: fit-content;
      margin-bottom: 1rem;
   }
   /* exhibtion section end  */

   .footer_head{
      flex-direction: column;
   }
   .footer_head h2{
      font-size: 1.5rem;
   }
   .footer_links{
      flex-direction: column;
      gap: 2rem;
      margin-top: 5rem;
   }
}